.ok{
    display:none;
z-index: 100;
position:absolute;
}
.blue-shape {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: -1;
    display: block;
    width: 56vw;
    overflow: hidden;
    width:fit-content;
    height:fit-content;
    height: 56vw;
    border-radius: 6.6vw;
    background-color: #f2faff;
    -webkit-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    transform: rotate(-23deg);
}


body{
    color: #4c525a;
  
   
    overflow-x:hidden;
    }
    .comparisionDiv{
        height: 70%;
        width: 80%;
        opacity: .85;
       margin: auto;
        padding: 4%;
        text-align: center;
        
    }
    .withWithout{
        display: flex;
        height: 90%;
        
    }

    .small_box{
       background-color:  #e0eff8;
    }
    .right-shape {
        position: absolute;
        left: 57%;
        top: 31%;
        z-index: -1;
        width: 80%;
        height: 90%;
        border-radius: 94px;
        background-color: #fff5e8;
        -webkit-transform: rotate(-21deg);
        -ms-transform: rotate(-21deg);
        transform: rotate(-21deg);
    }
    .right-shape.home {
       
        z-index: -1;
    }
    @media screen and (max-width: 991px){
.right-shape {
    left: 52%;
    display: block;
    height: 600px;
}}
.blue-shape._11 {
    left: auto;
    top: -18%;
    overflow: hidden;
    right: -20%;
    width: 80vw;
    height: 80vw;
    
}
.shape-two {
    position: absolute;
    left: -1%;
    top: 58%;
    right: auto;
    bottom: 0;
    z-index: -1;
    max-width: 221px;
}
.e{
    color: #01b289;
    font-weight: 500;
}
.upperDivSub{
    justify-content: left;
    text-align:justify;
    padding-left: 5%;
    opacity: .8;
}
.lowerDivSub{
    justify-content: right;
    text-align:right;
    
  
    
}
.blue-box{
    box-sizing: border-box;
     overflow: hidden;
}
.nav{
        position: sticky;
    left: 0;
    top: 0;
    width:100%;
    right: 0;
    bottom: auto;
    z-index: 100000000;
    background-color: #fff;
}
.footerContainer {
    display: flex;
    opacity:.7.5;
    justify-content: space-around;
    font-family: "Proximanova opt", sans-serif;
  }
  .fChildContainer > p {
    font-size: 16px;
    margin-bottom: 7px;
    color: #a4a4ae;
  }
  .fChildContainer > h6 {
    margin-bottom: 50px;
    color: rgba(53, 52, 52, 0.824);
    font-weight: 600;
    opacity:.7.5;
    font-family: "Proximanova opt", sans-serif;
  }
  .animate-charcter
{
  
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 24px;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}