.main {
    width: 50%;
    margin: auto;

}
.top_buttons{
display: flex;
justify-content: space-between;
}
.top_buttons_right{
display: flex;
gap: 8%;
}

.editbox_main {
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 1000px;
    padding: 10px 0px;
}