@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Lato:wght@300&family=Montserrat:ital,wght@1,100&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans+Condensed:wght@700&family=Lato:wght@300&family=Montserrat:ital,wght@1,100&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');

.left_box{
    left: 70px;
    right: 56%;
    padding: 180px 90px;
}
.main_box{
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
width: 80%;
margin: auto;
margin-top: 20px;
height: auto;
margin-left: 255px;
margin-bottom: 50px;
}
.main_box_child{
display: flex;
align-items: center;

margin-right: 60px;
}
.right_box{
padding-top: 150p;
width: 55%;
}

.right_box_title{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
margin-bottom: 17px;
font-size: 20px;
font-weight: 600;
font-family: 'Fira Sans Condensed', sans-serif;
line-height: 1.4;
color: #292a2d;
font-size: 24px;
}

.right_box_text1{
font-size: 16px;
color: #6d6d6d;
font-weight: 2000;
margin-bottom: 25px;
}   
.right_box_button{
    /* background-color: #00b289; */
    color: white;
    background-image: linear-gradient(to bottom, #00b289 0%, #00a881 100%);
}
.right_box_text2{
color: #00b289;
text-transform: uppercase;
letter-spacing: 1.2px;
font-size: 12px;
margin-top: 20px;
}
.right_bottom_design_box {
width: 100%;
display: flex;
justify-content: flex-end;
margin-top: -200px;
}
.input_box{
    margin: 30px 0px;
}
.form_label{
        position: relative;
            display: block;
            margin-bottom: 10px;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 1.0px;
            color: #878787;
            /* line-height: 1; */
        font-family: 'Abel', sans-serif;
}
.hrline{
    margin-top: 20px;
}
.header{
    font-size: 24px;
    color: #292a2d;;
   font-family: 'Libre Franklin', sans-serif;
   letter-spacing: 1.2px;
   font-weight: 400;
}
.hrline2{
    margin-top: -10px;
    margin-bottom: 10px;
}

@media all and (max-width:760px) {
  .left_box{
    display: none;
  }
  .right_box {
     margin: auto;
  }
  .main_box {
    margin: auto;
    /* margin-left:5%; */
    width: 90%;
    margin-top:50px ;
    padding-top: 30px;
  }
  .right_bottom_design_box{
    margin-top: -80px;
    
  }
  .right_bottom_design_box img{
    width: 150px;
  }
}